name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

# Uprawnienia do publikacji na Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        
    - name: Install dependencies
      run: npm ci
      
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
      
    - name: Run Playwright tests
      run: npx playwright test
      env:
        # Przekazujemy sekret z GitHuba do zmiennej środowiskowej runnera
        SAUCE_PASSWORD: ${{ secrets.SAUCE_PASSWORD }}
        BASE_URL: https://www.saucedemo.com
      
    # Żeby można było pobrać ZIP-a ręcznie w Artifacts
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

    - name: Upload artifact for GitHub Pages
      uses: actions/upload-pages-artifact@v3
      if: always()
      with:
        path: playwright-report/

  # Job do publikacji
  deploy-report:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4